/MewyShark/
/uv.lock
/transformer-test.py
/server-transformer.py
/server-mlx.py
/a.py
/pyproject.toml
/main.py
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.gitignore
.idea/VTuber.iml
.idea/dictionaries/project.xml
.idea/inspectionProfiles/profiles_settings.xml
